* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#wrapper {
    width: 75%;
    padding: 5%;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: center;
    background-color: snow;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}

main h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

main p {
    font-size: 30px;
}

main ul {
    margin-left: 20px;
}

main li {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: monospace;
}

@media only screen and (max-width: 1400px) {
    #wrapper {
        width: auto;
    }
}
