* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    font-family: sans-serif;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: fantasy;
}

main h2 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: fantasy;
}

main p {
    font-size: 20px;
    font-family: monospace;
}

main ul {
    margin-left: 20px;
}

main li {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: monospace;
}

footer {
    position: absolute;
    bottom: 30px;
    text-align: center;
    left: 0;
    right: 0;
}

.copyright-text {
    display: inline-block;
    padding: 10px 30px;
}

.text-highlight {
    color: white;
}

.text-highlight:hover {
    color: rgb(37, 7, 206);
}
