* {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    /* Background gradient MIT licensed: https://www.makeuseof.com/css-background-gradients/ */
    background-image: linear-gradient(to left, #8360c3, #2e9bbf);
}

body {
    display: flex;
    flex-direction: column;
}

header {
    margin: 20px;
}

footer {
    text-align: center;
    position: relative;
    bottom: 1%;
    left: 0;
    right: 0;
}

footer a {
    color: black;
}

nav {
    text-align: right;
    float: right;
    margin-top: 24px;
    margin-right: 10px;
    font-size: 28px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 24px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #325dc8;
}

main {
    flex-grow: 1;
}

form {
    width: 100%;
}

input {
    padding: 8px 6px;
    font-size: 20px;
    border: solid 1px gray;
    border-radius: 15px;
}

input::placeholder {
    color: #404040;
}

#submit {
    width: 100%;
    padding: 8px 6px;
    font-size: 20px;
    border: solid 1px gray;
    background-color: #109528;
    color: whitesmoke;
    border-radius: 10px;
}

#submit:hover {
    background-color: #0d7e1a;
    cursor: pointer;
}

/* mobile screen sizes */
@media only screen and (max-width: 600px) {
    nav {
        float: none;
        text-align: center;
    }
    nav li {
        display: block;
    }
}
