html {
    /* Background gradient MIT licensed: https://www.makeuseof.com/css-background-gradients/ */
    background-image: linear-gradient(to left, #8360c3, #2e9bbf);
}

header {
    margin: 20px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
}

footer a {
    color: black;
}

nav {
    float: right;
    margin-top: 24px;
    margin-right: 10px;
    font-size: 28px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 24px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #325dc8;
}

input::placeholder {
    color: #404040;
}
