#wrapper {
    width: 20%;
    padding: 2%;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: center;
    background-color: snow;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}

form {
    width: 100%;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#password-label {
    margin-top: 15px;
}

input {
    width: 96%;
}

#submit {
    margin-top: 20px;
    width: 100%;
    padding: 8px 6px;
    font-size: 20px;
    border: solid 1px gray;
    background-color: #109528;
    color: whitesmoke;
    border-radius: 10px;
}

#submit:hover {
    background-color: #0d7e1a;
    cursor: pointer;
}

@media only screen and (max-width: 1080px) {
    #wrapper {
        width: auto;
    }
}
