#wrapper {
    width: 35%;
    padding: 2%;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: center;
    background-color: snow;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}

#smallSubmit {
    margin-left: 2%;
}

#shortLinkInput {
    width: 96%;
}

#shortLink {
    font-size: large;
    display: flex;
    align-items: center;
}

#shortLinkError {
    height: 0;
    color: red;
    font-size: small;
    text-align: left;
}

#all-columns {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#column2 {
    margin-left: 25px;
}

@media only screen and (max-width: 1400px) {
    #wrapper {
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    #all-columns {
        grid-template-columns: 1fr;
    }
}
